body{
    height: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    background-color: #eeeeee;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
  font-family: 'Raleway', sans-serif;
}

main{
  min-height: 80vh;
  margin:0;
}

.content{
  margin: 30px 50px;
}

main a{
  font-size: 1.2em;
  color: #008263;
  font-weight: bold;
  line-height: 2em;

}

button {
  background-color: #008263;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
}

.icon-color{
  color: #008263;
}

.skipmain a{
  padding:6px;
  position: absolute;
  top:10px;
  left:0px;
  color:#008263;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-bottom-right-radius:8px;
  background:white;
    z-index: 1;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
}

.skipmain a:focus {
  top: 0px;
}

.errorMsg{
  visibility:hidden;
  color:red;
  font-weight: bold;
}


footer{
  bottom: 0!important;
  line-height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  color: white;
  background-color: #222;
}

footer p{
  padding: 0;
  margin: 0;
}




/* When printing hide images and top navigation bar and format text for easy reading */
@media print {
  img{
    display:none!important;
  }
  header{
    display:none!important;
  }

  p{
    padding-bottom: 20px;
  }

}

/* small devices e.g. phones */
@media  screen and (max-width: 767px) {

  h1{
    font-family: 'Raleway', sans-serif;
    font-weight:  600;
    font-size: 30px;
    line-height: 1em;
    padding-bottom: 20px;
  }

  h2{
    color: #008263;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2em;
    text-align: left!important;
  }

  h3{
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    text-align: left!important;
  }

  p {
      font-size: 16px;
      line-height: 1.3em;
      -webkit-margin-after: 1em;
              margin-block-end: 1em;
  }

  /* Home hero image with text */
  .featured{
    min-height: 25vh;
    background-image: url("../images/home-header-teal.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #008263;
    text-align: center;
    margin: auto;
  }

  .featured p{
    font-family: 'Raleway', sans-serif;
    font-weight:  600;
    min-height: 10vh;
    margin: 0 auto;
    color: white;
    font-size: 20px;
  }

  .featured img{
    margin: 0 auto;
    padding-top: 5vh;
    max-width: 90%;
  }

  .contenthome{
    display: block;
    margin: 30px 50px;
  }

  img.profile{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100%;
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }

/* portfolio page flex layout */
  .portfolio {
    font-size: 1em;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

  }

  .portfolio-item{
    width: 100%;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    text-align: left;
  }

  .portfolio-item > img{
    width: 100%;
    max-height: 40vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

/* Portfolio item page layout*/
  .portfolio-img{
    width: 100%;
    max-height: 40vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;

  }

  .content ul{
    list-style-type: square;
  }

  .content li {
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 1.2;
  }

  #port-docs{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .docs-group{
    min-width: 100%;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    text-align: justify;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .docs-item{
    width:90%;

  }


/* Contact form styles */
  input{
    width: 100%;
    margin: 5px 0;
    padding: 10px 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
  }

  textarea{
    width: 100%;
    margin: 5px 0;
    padding: 10px 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
  }

  .button-style {
    width: 100%;
    background-color: #008263;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
  }

/* navigation formatting */

.navMenu{
  background-color: #008263;
  display:flex;
  padding: 16px;
  color: white;
}

.navMenu img{
  width: 175px;
  height:auto;
}

.navMenuItems {
  display:none;
}

.navMenuItems_toggleshow {
  display:flex;
}

.navIcon{
  align-self:flex-end;
  align-items: center;
  display:initial;
  position:absolute;
  cursor:pointer;
  margin-top:12px;
}

.navMenu, .navMenuItems{
  flex-direction: column;
}

.navItem{
  padding: 5px 0;
  justify-content: center;

}

.navItem:hover{
  text-decoration: underline;
}

.navItem a {
  color:white;
  text-decoration: none;
}

/* nav{
  }

  .current {
    color: #008263!important;
    background-color: white!important;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .current > a{
    color: #008263!important;
    background-color: white!important;
    font-weight: bold;
    width: 100%;
    text-align: center;

  }


  nav > ul{
    background-color: #008263;
    color: white;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  li:not(:nth-child(-n+2)){
    display:none;
  }

  li .icon {
    align-items:right;
  }

  li a {
    color: white;
    display: block;
    width: 100%;
    line-height: 3em;
    text-decoration: none;
  } */

}

/* medium sized devices e.g. tablets */
@media screen and (min-width: 768px) and (max-width: 1199px) {

  h1{
    font-family: 'Raleway', sans-serif;
    font-weight:  600;
    font-size: 40px;
    line-height: 1em;
    padding-bottom: 20px;
  }

  h2{
    color: #008263;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2em;
    text-align: left!important;
  }

  h3{
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    text-align: left!important;
  }

  p {
      font-size: 16px;
      line-height: 1.3em;
      -webkit-margin-after: 1em;
              margin-block-end: 1em;
  }

  /* Home hero image with text */
  .featured{
    min-height: 40vh;
    background-image: url("../images/home-header-teal.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #008263;
    text-align: center;
    margin: auto;
  }

  .featured p{
    font-family: 'Raleway', sans-serif;
    font-weight:  600;
    min-height: 10vh;
    margin: 0 auto;
    color: white;
    font-size: 25px;
  }

  .featured img{
    margin: 0 auto;
    padding-top: 5vh;
    max-width: 70%;
  }

  .contenthome{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 30px 50px;
  }

  img.profile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
    max-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    padding: 0 30px 0 0;
  }

/* portfolio page flex layout */
  .portfolio {
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

  }

  .portfolio-item{
    width: 48%;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    text-align: justify;
  }

  .portfolio-item > img{
    width: 100%;
    max-height: 40vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  /* Portfolio item page layout*/
    .portfolio-img{
      width: 100%;
      max-height: 50vh;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;

    }

    .content ul{
      list-style-type: square;
    }

    .content li {
      font-size: 16px;
      padding-bottom: 10px;
      line-height: 1.2;
    }


    #port-docs{
      width:100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }

    .docs-group{
      max-width: 48%;
      -webkit-box-pack:center;
          -ms-flex-pack:center;
              justify-content:center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-line-pack: distribute;
          align-content: space-between;
      text-align: justify;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
    }

    .docs-item{
      width:90%;

    }

/* Contact form styles */
  input{
    width: 50%;
    margin: 5px 0;
    padding: 10px 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
  }

  textarea{
    width: 50%;
    margin: 5px 0;
    padding: 10px 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
  }

  .button-style {
    width: 52%;
    background-color: #008263;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
  }

  /* navigation formatting */

  .navMenu{
    background-color: #008263;
    display:flex;
    align-items: center;
    padding: 20px;
    color: white;
  }

  .navMenu img{
    width: 175px;
    height:auto;
  }

  .navMenuItems {
    display:flex;
  }

  .navIcon{
    display:none;
  }

  .navMenu, .navMenuItems{
    flex-direction: row;
  }

  .navItem{
    padding: 0 15px;
    justify-content: center;

  }

  .navItem:hover{
    text-decoration: underline;
  }

  .navItem a {
    color:white;
    text-decoration: none;
  }



  /* nav{
    }

    .current {
      color: #008263!important;
      background-color: white!important;
      font-weight: bold;
      text-align: center;
    }

    .current > a{
      color: #008263!important;
      background-color: white!important;
      font-weight: bold;
      text-align: center;

    }

    nav > ul{
      width: 100%;
      background-color: #008263;
      color: white;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }


    li a {
      padding: 0 40px;
      color: white;
      line-height: 3.5em;
      text-decoration: none;
      text-align: center;
    } */

}

/* large devices e.g. laptop and desktop screen */
@media screen and (min-width: 1200px) {

  h1{
    font-family: 'Raleway', sans-serif;
    font-weight:  600;
    font-size: 50px;
    line-height: 1em;
    padding-bottom: 20px;
  }

  h2{
    color: #008263;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2em;
    text-align: left!important;
  }

  h3{
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    text-align: left!important;
  }

  p {
      font-size: 16px;
      line-height: 1.3em;
      -webkit-margin-after: 1em;
              margin-block-end: 1em;
  }
/* Home hero image with text */
  .featured{
    min-height: 45vh;
    background-image: url("../images/home-header-teal.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #008263;
    text-align: center;
    margin: auto;
  }

  .featured p{
    font-family: 'Raleway', sans-serif;
    font-weight:  600;
    min-height: 10vh;
    margin: 0 auto;
    color: white;
    font-size: 30px;
  }

  .featured img{
    margin: 0 auto;
    padding-top: 5vh;
    height: 20vh;
    width: auto;
  }

  .contenthome{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 30px 50px;
  }

  img.profile{
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    max-height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    padding: 0 50px 0 0;
  }

  /* portfolio page flex layout */
    .portfolio {
      font-size: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;

    }

    .portfolio-item{
      width: 32%;
      -webkit-box-pack:center;
          -ms-flex-pack:center;
              justify-content:center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
      text-align: justify;
    }

    .portfolio-item > img{
      width: 100%;
      max-height: 40vh;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
    }

    /* Portfolio item page layout*/
      .portfolio-img{
        width: 100%;
        max-height: 40vh;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;

      }

      #port-docs{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }

      .docs-group{
        width: 32%;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -ms-flex-line-pack: distribute;
            align-content: space-between;
        text-align: justify;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
      }

      .docs-item{
        width:90%;

      }

  /* Contact form styles */
    input{
      width: 50%;
      margin: 5px 0;
      padding: 10px 10px;
      border: 1px solid #CCC;
      border-radius: 5px;
    }

    textarea{
      width: 50%;
      margin: 5px 0;
      padding: 10px 10px;
      border: 1px solid #CCC;
      border-radius: 5px;
    }

    .button-style {
      width: 52%;
      background-color: #008263;
      border: none;
      border-radius: 10px;
      color: white;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      padding: 15px;
      font-size: 1em;
      cursor: pointer;
    }

    /* navigation formatting */

    .navMenu{
      background-color: #008263;
      display:flex;
      align-items: center;
      padding: 20px;
      color: white;
    }

    .navMenu img{
      width: 175px;
      height:auto;
    }

    .navMenuItems {
      display:flex;
    }

    .navIcon{
      display:none;
    }

    .navMenu, .navMenuItems{
      flex-direction: row;
    }

    .navItem{
      padding: 0 15px;
      justify-content: center;

    }

    .navItem:hover{
      text-decoration: underline;
    }

    .navItem a {
      color:white;
      text-decoration: none;
    }


    /* nav{
      }

      .current {
        color: #008263!important;
        background-color: white!important;
        font-weight: bold;
        text-align: center;
      }

      .current > a{
        color: #008263!important;
        background-color: white!important;
        font-weight: bold;
        text-align: center;

      }

      nav > ul{
        width: 100%;
        background-color: #008263;
        color: white;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }

      li .icon {
        display:none;
      }

      li a {
        padding: 0 40px;
        color: white;
        line-height: 3.5em;
        text-decoration: none;
        text-align: center;
      } */


}
